<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Defina propriedades para facilitar o gerenciamento dos logs -->
    <property name="LOG_PATH" value="logs"/>
    <property name="APP_NAME" value="finances-backend"/>

    <!-- Appender para console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para arquivo com log em formato JSON -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${APP_NAME}</serviceName>
            <serviceVersion>1.0.0</serviceVersion>
        </encoder>
    </appender>

    <!-- Configuração de logging para pacotes específicos (opcional) -->
    <logger name="br.com.gabreuw.finances" level="DEBUG"/>

    <!-- Configuração do log raiz -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
